#!/usr/bin/env bash

set -a

# Environment variables

BASIC_AUTH_HASHES=$(htpasswd -nb admin admin)
TRAEFIK_BASIC_AUTH_HASHES=${BASIC_AUTH_HASHES}

# End

if [[ -f ./.envrc.local && -r ./.envrc.local ]]; then
  source ./.envrc.local
fi

set +a
